#!/bin/bash

set -euo pipefail

# Downloading scripts onto notebook
aws s3 sync s3://${config_s3_bucket}/ /home/ec2-user/SageMaker/ --delete --exact-timestamps --exclude "*" --include "*.py" --include "*.ipynb"

# Make the ipython notebooks editable after copy
chmod -R 777 /home/ec2-user/SageMaker/

# Setting environment variables
cat << EOF > /home/ec2-user/SageMaker/.env
%{ for key, value in env ~}
${key}=${value}
%{ endfor ~}
EOF

exit 0
